.center
  img(src='images/logo_dark.jpg')
  .footnote
    span © 2010-2013 - TAXI!!!
    p In pellentesque ac nisi eget mollis. Phasellus eget tellus veli In pellentesque ac nisi eget mollis. Phasellus eget tellus veli In pellentesque ac nisi eget mollis. Phasellus eget tellus veli