header
  .center
    img.logo(src='images/logoTaxi!!!.png', alt='Home')
    a(href='/central/login').login INGRESAR A CENTRAL
section.background
  .center
    p Una nueva manera de llamar a un fucking taxi!
    a(href='')
      img(src='images/google_play.png').store
    a(href='')
      img(src='images/app_store.png').store
    a(href='')
      img(src='images/windows_store.png').store
    img(src='images/taxi_hand.png').hand
nav
  .center
    span
      a(href='#index').selected
        img.taxi.stretch(src='images/menu.png')
      a(href='#driver')
        img.taxidriver.stretch(src='images/menu.png')
      a(href='#central')
        img.central.stretch(src='images/menu.png')