section
  center 
    h1.arrow-yellow 
      ¿Cómo funciona TAXI?

  #driver-body.center
    .left-block
      span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus nisl. Mauris arcu augue, luctus sed faucibus sodales, dapibus nec orci. Aliquam erat volutpat. Proin non nibh aliquet, pulvinar lorem nec, sagittis nisl. Duis gravida ultrices ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      p Mauris dignissim nisi vel leo placerat, eget mollis dolor lacinia. Morbi et nibh dui. Proin dictum aliquam tincidunt. Sed lacinia pellentesque quam a ultrices. Sed ac orci fermentum, tincidunt metus at, lobortis orci. Nulla sit amet mollis metus. 
      p Aenean id tempus nisi. Donec ornare, est nec sodales accumsan, justo mauris interdum leo, nec elementum tortor ante eget dui. Mauris pellentesque in sapien ac euismod. Aliquam erat volutpat. Proin non nibh aliquet, pulvinar lorem nec, sagittis nisl.
    .right-block
      // Slider 0_o
      #slideshow-taxi.swiper-container
        .swiper-wrapper
          .swiper-slide
            img(src='images/taxi_off.jpg')
          .swiper-slide
            img(src='images/taxi_on.jpg')
          .swiper-slide
            img(src='images/taxista_off.jpg')
          .swiper-slide
            img(src='images/taxista_on.jpg')
          .swiper-slide
            img(src='images/central_off.jpg')
          .swiper-slide
            img(src='images/central_on.jpg')

    .footer-line  
    .footer-block
      .footer-innerleft
        a(href='').selected
          img(src='images/taxi_icon.png')
      .footer-innercenter
        h2 TAXI
        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus nisl. Mauris arcu augue, luctus sed faucibus sodales, dapibus nec orci. Aliquam erat volutpat. Proin non nibh aliquet, pulvinar lorem nec, sagittis nisl. Duis gravida ultrices ultricies.
      .footer-innerright
        h2 PLATAFORMAS
        a(href='').store
          img(src='images/apple.jpg')
          a(href='').store
          img(src='images/android.jpg')
          a(href='').store
          img(src='images/windows.jpg')
  .social-icons
    #fb-index

    .fb-like(data-href='https://www.facebook.com/pages/Mitaxi/606813486011655?ref=hl', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')


  #driver-prices
    .background
      p.arrow-yellow 
        |Precios de TAXI

      .inner-prices
          //.inner-prices
          img(src='images/android_phone.png').stretch
          //img(src='images/android_phone.png').stretch
          //img(src='images/android_phone.png').stretch
          img(src='images/iphone_phone.png').stretch
          img(src='images/microsoft_phone.png').stretch

our-apps
  center
    h1.arrow-yellow 
      Nuestras Aplicaciones

  #our-apps.center
    .left-block
      .inner-left
        a(href='').taxi
        img(src='images/taxi_driver_icon.png').icons 
        a(href='').central
        img(src='images/central_icon.png').icons
      .inner-taxi
        h2 TAXISTA
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus nisl. Mauris arcu augue, luctus sed faucibus sodales, dapibus nec orci. 
          a(href='').taxi Ver más información >
        h2 CENTRAL
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed lectus nisl. Mauris arcu augue, luctus sed faucibus sodales, dapibus nec orci. 
          a(href='').central Ver más información >
    .right-block
      .right-inner-block
        img(src='images/logoTaxi!!!.png').logo
    .inner-footer
      a(href='').store
        img(src='images/app_store.png').market
      span    
      a(href='').store
        img(src='images/google_play.png').market 

  .clearfix