/* 
 * MiTaxi landing page css
 * Created by Eduardo Oviedo (Games 'n Apps), Diego Corrales and David Pereira
 */

/*
 * Tools
 * TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
 */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.clearfix:before
.clearfix:after
  content "\0020"
  display block
  height 0 
  overflow hidden
.clearfix:after
  clear: both
.clearfix
  zoom 1

div[data-role="page"]
  display none
  // height 2200px
  // position absolute
  // left 0

/*
 * Blocks
 * BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
 */

.center
  width 100%
  margin-left auto
  margin-right auto

body
  background-color #f3f2f2
  font-family 'Roboto', sans-serif

header
  width 100%
  background-color #ffffff
  header
    height 120px
    border-bottom 2px solid #f3be16
    .center
      text-align center
  section.background
    background url("../images/header.jpg")
    background-size 100% 100%
    height 428px
    position relative

  nav
    background-color #f3be16
    height 150px
    /*border-bottom 4px solid #e8b105*/
  nav .center
    text-align center

#driver-body
  margin-bottom 40px

  .left-block
    margin: 0 10px
    text-align: justify

  .right-block
    max-width 500px
    width 100%
    min-height 300px
    margin 0 auto
    //TODO: Borrar y poner slider
    background-color white
    
  .footer-line
    max-width 100%
    height 4px
    background-color #D8D8D8
    margin 10px 0

  .footer-block
    margin 0 auto

  .footer-innerleft
    margin 20px 10px
    align: left

  .footer-innercenter
    margin 10px 
    text-align justify
    max-width 350px
    margin-bottom: 20px;

  .footer-innerright
   margin 0 10px
   text-align left
   

.social-icons
  width: 100%
  height: 70px
  background-color:#FFFFFF
  display: inline-block
  padding: 25px

  span
    height: 28px !important /* For some reason firefox hide the element */

    iframe
      height: 28px !important /* For some reason firefox hide the element */

#driver-prices  

  .background
    background url("../images/taxi_background.jpg")
    background-size 100% 100%
    position relative
    text-align center
    font-family 'Roboto',sans-serif
    font-size 30px 
    font-weight 200
    height 225px
    p
      padding 7px 0px
    .inner-prices
      max-height 400px
      width 100%
      font-size 0
      text-align center
      img
        width 24%
        margin -25px 12px
        display inline-block  
      img.stretch
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        width 18%
        margin -25px 25px

#central-prices
  
  .background
    width: 100%
    height auto
    background:url("../images/central_background.jpg")
    background-size 100% 100%
    text-align: center
    display: inline-block
    font-family:'Roboto',sans-serif
    font-size: 30px 
    font-weight: 200
    color: #FFFFFF

    .backfont
      font-family:'Roboto',sans-serif
      font-size: 15px 
      font-weight: 100
      margin 3% 1%
      text-align: justify
      
    .inner-prices
      width 100%
      text-align center
      margin -35px 0px 0px 0px
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; // smoother scrolling
      table
        text-align center
        border-collapse separate
        border-spacing 0 1px
        background-color transparent
        thead
          tr
            height 40px
            th
              font-size 15px
              font-weight 300
        tr
          height 41px
          td
            background-color rgb(243, 242, 242)
            font-size 14px
            font-weight 500
            color #000000
            width 12%
            text-align center
            input
              padding 2px
          td.license
            text-align left
          td.stretch
            width 3%
            text-align center
    .footer-block
      background-color #DEDEDE
      width 100%
      text-align center
      min-height 46px
      margin-top 46px
      clear both
      padding-top 17px
      background-color rgba(255, 255, 255, 0.4)
      //height 98px
      .footer-innercenter
        text-align center
        p 
          color black
          margin 5px 0px
        
        #slideBox
          width 90%
          display none
          padding 5px
          //border 2px solid #FADDA9
          margin 0px auto
          #tableBox
            width 100%
            display inline-block
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch; // smoother scrolling
            #extraTable
              width  325px
              text-align center
              display: inline-table
              vertical-align: top
              border-collapse separate
              border-spacing 1px
              background-color transparent
              //margin-left 10%
              //margin-top: 10px
              thead
                tr
                  height 40px
                  th
                    font-size 15px
                    font-weight 300
              tr
                height 41px
                td
                  background-color rgb(243, 242, 242)
                  font-size 14px
                  font-weight 500
                  color #000000
                  width auto   
                  text-align center  
                td.license
                  text-align left
                td.concept
                  width 72%
                  text-align left
                  padding-left 10px
                td.Totalconcept
                  width 72%
                  text-align left
                  padding-left 10px
                  background-color #C5314F
                  color #FFFFFF

        form
          display: inline-block
          max-width: 360px
          padding: 0px 30px
          margin: 0px
          width 100%

          input
            font-family:'Roboto',sans-serif
            border: solid 1px #dedede
            margin-bottom: 0px
            font-size: 0.5em
            padding: 5px 10px
            width: 100%;
            color: #777;

          textarea
            font-family:'Roboto',sans-serif
            border: solid 1px #dedede
            margin-top: 10px
            font-size: 0.5em
            padding: 5px 10px
            width: 100%
            height: 76px
            color: #777

          #submitbtn
            border:none;
            outline:0;
            border-radius:3px;
            background-color:#c5314f;
            width:182px;
            height:37px;
            font-size:20px;
            margin:17px 0;
            color:#fff;
            font-family:'Roboto',sans-serif

        #extraCalculate
          border none
          outline 0
          border-radius: 3px; 
          background-color #C5314F
          width 182px
          height 37px
          font-size 20px
          margin 17px 0px
          color white
          font-family:'Roboto',sans-serif
#our-apps

  .left-block
    //background-color:#FF0000
    margin: 0 10px
    width: 97%

  .inner-left
    //background-color:#000000
    width: 94%
    margin-bottom 20px
    display block

  .inner-taxi
    //background-color:#4B1010
    width: 94%
    text-align justify
  

  .inner-footer
    //background-color:#C0C0C0
    width: 95%
    height:60px 
    margin 0px 10px

  .right-block 
    //background-color red
    height:200px
    display: inline-block

  .right-inner-block
    //background-color:#FF00FF
    position absolute
    size: 60%

footer
  background-color #262626
  min-height 115px
  font-size 10px
  .center
    padding-top 33px

/*
 * Objects
 * OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 */

header img.logo
  width 100px
  display block
  margin 0 auto
  padding-top 20px
header a.login
  color #1f1f1f
  text-decoration none
header section p
  margin 0 10px
  padding 0
  color #ffffff
  font-size 30px
  font-weight 300
header section .store
  display block
  margin 5px auto
  max-width 135px
header section img.hand
  position absolute
  width 50%
  bottom 0
  right 0
  max-width 350px

h1
  background-color:#f3f2f2
  font-family:'Roboto',sans-serif
  font-size: 30px 
  font-weight: 200

h2
  background-color:#f3f2f2
  font-family:'Roboto',sans-serif
  font-size: 15px 
  font-weight: 150
  margin 0px

#our-apps
  img.icons
    display inline-block 
    margin 0px 0px 0px 35px
    margin-bottom 10px

  img.logo
    width 250px 
    height 200px
    margin 0px 30px

  img.market
    width 100px 
    height 30px
    margin 10px
    display inline-block
  
nav
  span
    display inline-block
    a
      margin 25px 3%
      display inline-block
      width 25%
      img
        width 100%
        // height 100%
        max-height 150px
        // display inline-block
      img.taxi
        background url('../images/taxi_off.jpg')
      img.taxidriver
        background url('../images/taxista_off.jpg')
      img.central
        background url('../images/central_off.jpg')
    a:hover
    a.selected
      img.taxi
        background url('../images/taxi_on.jpg')
      img.taxidriver
        background url('../images/taxista_on.jpg')
      img.central
        background url('../images/central_on.jpg')
    a
    a:hover
    a.selected
      img.stretch
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;

.arrow-yellow
  background-image: url("../images/arrow.png");
  margin-top: 0px;
  background-repeat: no-repeat;
  background-position: center -3px;
  padding-top: 25px !important;
  border-top: 4px solid #e8b105;


footer 
  img
    width 75px
    display block
    margin 0 auto
  .footnote
    display block
    margin 10px 0 0 15px
  span
    color #eaeaea

  p
    color #807f7f
    margin-bottom 0
    padding-bottom 10px

#discount_code
  height 35px;
  border solid 1px #afafaf
  background-color #E4E4E4
  text-align center
  line-height 2
  border-radius 3px;
  -moz-border-radius 3px;
  color #848484
  //font-size:1.0em;
  //font-weight:bold;
  margin 0px 0px 0px -7px
  width 100%
  text-align left
// Smartspinner
.smartspinner
{
  padding: 0px 18px 2px 2px;
  border:solid 1px #afafaf;
  background: url("../images/normal.jpg") no-repeat right;
  background-color:#f6f6f6;
  text-align:center;
  /*vertical-align:middle;*/
  line-height:2;
  border-radius:3px;
  -moz-border-radius:3px;
  color:#848484;
  font-size:1.0em;
  font-weight:bold;
  margin 0px 15px 0px -7px
}
.smartspinner.up
{
  background: url("../images/up.jpg") no-repeat right;
  background-color:#f6f6f6;
  cursor:pointer;
}
.smartspinner.down
{
  background: url("../images/down.jpg") no-repeat right;
  background-color:#f6f6f6;
  cursor:pointer;
}


.swiper-container
  width: 320px
  height: 300px

.swiper-slide 
  width: 320px
  height: 300px

/*
 * Media Queries
 */

@media screen and (min-width: 400px) //>= 400
  
  /*
   * Objects
   * OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
   */
  header section .store
    margin 5px 0 5px 40px

  #driver-body

    .footer-innerleft
      margin 0 10px
      display: inline-block

    .footer-innercenter
      margin 0 5px
      max-width 350px
      display: inline-block

    .footer-innerright
      margin 0 5px  

  #driver-prices

    .background
      height 370px
      p
        padding 20px 0px
      .inner-prices
        margin -40px 0px
        img.stretch
          width 18%
          margin 0px 25px

  #our-apps 
    img.icons
      margin 0px 0px 10px 50px

    img.logo
      margin 0px 20px 50px 100px

    img.market
      width 120px 
      height 40px
      margin 20px 10px 50px 60px
      display inline-block

  .swiper-container
    width: 400px
    height: 300px

  .swiper-slide 
    width: 400px
    height: 300px

@media screen and (min-width: 700px) //>= 700
  /*
   * Tools
   * TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
   */


  /*
   * Blocks
   * BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
   */


  header header .center
    text-align left
    line-height 120px
    height 120px

  #driver-body
    .footer-innercenter
      max-width 450px
      display: inline-block
    .footer-innerright
      display: inline-block

    .footer-innercenter
      //background-color blue
      max-width 550px
      text-align justify

  .left-block
    margin: 0 10px
    text-align: justify

  .right-block
    max-width 500px
    margin 0 auto
    //TODO: Borrar y poner slider
    //background-color green
    width 100%
    min-height 200px

  .footer-block
    margin 0 auto
    //background-color:#97387F

  .footer-innerleft
    // background-color:#38978F
    text-align: left


  .footer-innerright
   display: inline-block
   // background-color:#8CA895

  #driver-prices

    .background
      height 370px
      p
        padding 20px 0px
      .inner-prices
        margin -40px 0px
        img.stretch
          width 16%
          margin 0px 25px

  #our-apps
    .left-block
      display inline-block

    .inner-left
      width 16%
      display inline-block
      margin 0px

    .inner-taxi
      width 80%
      display inline-block

    .right-block
     display none
      
  /*
   * Objects
   * OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
   */

  header 
    img.logo
      display inline-block
      margin 0
      position relative
      left 120px
    a.login
      float right
      position relative
      right 120px

    section 
      p
        padding 30px 40px 30px 60px
        max-width 50%
      .store
        margin 5px 0px 5px 60px   

  #our-apps 
    img.icons
      display block
      margin 10px 0px 0px 10px

    img.logo
      margin 0px 20px 50px 100px

    img.market
      margin 10px       

  footer
    img
      display inline-block
      margin 0 0 0 120px
    .footnote
      display inline-block
      width 60%

  .swiper-container
    width: 500px
    height: 300px

  .swiper-slide 
    width: 500px
    height: 300px

@media screen and (min-width: 950px) // >= 950

  /*
   * Tools
   * TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
   */


  /*
   * Blocks
   * BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
   */

  header 
    section.background
      background-size 100% 175%
    nav
      height 350px

  #driver-body    
    .left-block
      max-width 25%
      margin 0
      padding 0 10px
      display inline-block
    .right-block
      max-width 75%
      height 550px
      margin 0 0 0 0
      display inline-block
      vertical-align top
    .footer-innercenter
      max-width 70%

  #driver-prices
    .background
      height 550px
      p
        padding 20px 0px 0px 0px
      .inner-prices
        margin 0
        img.stretch
          width 20%
          margin 0px 25px

  #our-apps
    .inner-left
      width 20%
      margin 0px 0px 20px 0px
      
    .inner-taxi
      width 65%
      margin 10px

    .left-block
      width 60%

    .right-block
      display inline-block
      margin: auto
      width 35%
      height 235px


   /*
   * Objects
   * OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
   */

  header 
    section 
      p
        padding 60px 75px 60px 120px
      .store
        margin 5px 0px 5px 120px
      img.hand
        right 5%

  nav
    span
      a
        margin 55px 55px 0 55px
        width 21%
        img
          max-height 250px

  #our-apps
    img.logo
      margin auto
      width 300px 
      height 230px


  footer .footnote
    width 66%

  .swiper-container 
    width: 735px
    height: 550px

  .swiper-slide 
    width: 735px
    height: 550px

@media screen and (min-width: 1200px)

  /*
   * Tools
   * TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
   */

  /*
   * Blocks
   * BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
   */
  .center
    width 1200px

  header section .center
    position relative
    height 100%

  #driver-body  
    .footer-innercenter
      max-width 900px

  #driver-prices
    .background
      height 550px

      p
        padding 20px 0px 0px 0px
      .inner-prices
        img.stretch
          width 230px
          margin 0px 25px

  #central-prices
    .background
      min-height: 692px
      background:url("../images/central_background.jpg")
      background-size 100% 100%
      text-align: center
      display: block
      font-family:'Roboto',sans-serif
      font-size: 30px 
      font-weight: 200
      color: #FFFFFF

      .backfont
        font-family:'Roboto',sans-serif
        font-size: 15px 
        font-weight: 100
        margin -1% 10%
        text-align: justify
      
      .inner-prices
        width 100%
        text-align center
        margin 37px 0px
        overflow: visible;

        table
          text-align center
          border-collapse separate
          border-spacing 0 1px
          background-color transparent
          thead
            tr
              height 40px
              th
                font-size 15px
                font-weight 300
          tr
            height 41px
            td
              background-color rgb(243, 242, 242)
              font-size 14px
              font-weight 500
              color #000000
              width 12%
              text-align center
              input
                padding 2px
            td.license
              text-align left
            td.stretch
              width 3%
              text-align center 

      .footer-block
        min-height 98px
        .footer-innercenter
          overflow: visible;
          a
            color #993300
            text-decoration none
          #slideBox
            #tableBox
              overflow auto
              width auto
              #extraTable
                width 450px
          //#mostrar
          //  display block
          //  width 160px
          //  padding 5px
          //  border 2px solid #D0E8F4
          //  background-color #ECF8FD
          //  margin-left 100px
          //  margin-top 60px
            

  /*
   * Objects
   * OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
   */

  header section img.hand
    right 10%

  footer .footnote
    width 72%

  #our-apps
    img.logo
      margin auto
      width 350px 
      height 300px


  #our-apps
    .inner-left
      width 16%
      margin 0px 0px -10px 0px
      
    .inner-taxi
      width 77%

    .left-block
      width 65%

    .right-block
      width 30%

  .swiper-container
    width: 900px
    height: 550px

  .swiper-slide 
    width: 900px
    height: 550px
